{% if not ajax %}
<html>
<head>
  <script type='text/javascript' src='/static/jquery.js'></script>
  <script type='text/javascript' src='/static/underscore.js'></script>
  <title>Rock paper scissors game {{ gameid }}</title>
  <!--we use the native html5 impl. <script src="/static/socket.io.js"></script>-->
  <script type='text/javascript'>
var io = {Socket:WebSocket};
		
       if (typeof(console)=='undefined') console = {log:function() {}};
       
	   function attachevents() {
	   console.log('(re)atacching events');
	   var sels = document.getElementsByClassName('sel');
	   for (var i=0;i<sels.length;i++)
	       {
		   sels[i].addEventListener('click',function(ev) {
			   var selval = ev.target.value;
			   console.log('sending val=%o',selval);
			   socket.send(JSON.stringify({'op':'selval','val':selval}));
		       },false);
	       }
	       var rmlnk = document.getElementById('offer_rematch')
	       if (rmlnk) rmlnk.addEventListener('click',function(ev) {
		   socket.send(JSON.stringify({'op':'offer_rematch'}));
	       },false);

       }

var gameid = "{{ gameid }}";
var socket = new io.Socket('ws://localhost:8124/socket.io'); //null,{port:8124,rememberTransport:true,timeout:1500,resource:'socket.io'});
//socket.connect();
socket.on('connect', function(){ 
    console.log('connected'); 
    socket.send(JSON.stringify({'op':'connect','gameid':gameid,'rawcookie':document.cookie}));
}) ;
socket.on('message', function(m){ 
    //console.log('got message, %o',m); 
    var d = JSON.parse(m);
    if (d.op=='gamechange')
    {

	/*console.log('changing game'); // %o',m);*/
	console.log('rendering template with %o',d.tplvars);
	var m = _.template(document.getElementById('gamedivsrc').innerHTML,d.tplvars);
	var gd = document.getElementById('gamediv');
	gd.innerHTML = m;
	attachevents();
    }

    else if (d.op=='rematch_created')
    {
	location.href="/"+d.game_id;
    }
    else if (d.op=='chat')
    {
	console.log(d);
	document.getElementById('chatlog').innerHTML+='<b>'+d.user+'</b>: '+d.text+'<br />';
    }
    else
	throw "unknown op "+d.op;
}) ;
socket.on('disconnect', function(){ console.log('disconnected; reconnecting!'); socket.connect();  });

     </script>
<script type='text/html' id='gamedivsrc'>
{{ gamedivsrc }}
</script>
</head>
<body>
[<a href="/">home</a> | <a href="/{{ gameid }}">game link</a>] <br />
  <h3>Rock paper scissors game {{ gameid }}</h3>

<div id='chatlog'></div>
<input type='text' id='chatinput' value='' /><input type='button' id='sendchat' value='chat' />


    <div id='gamediv'>
{% endif %}

{{ gamediv }}

{% if not ajax %}
</div>

<script type='text/javascript'>
	  attachevents();

	       document.getElementById('sendchat').addEventListener('click',function(ev) {
		   socket.send(JSON.stringify({'op':'send_chat','text':document.getElementById('chatinput').value}));
		   document.getElementById('chatinput').value='';
		   document.getElementById('chatinput').focus();
		   
	       },false);
</script>
<!--GAMEDIVPLACEHOLDER-->
</body>
</html>
{% endif %}
